@import './mixin';

.productItems {
    margin: 0;
    padding: 0;
    & li {
      display: grid;
      grid-template-columns: repeat(7, 120px);
      gap: 2px;
      & p:first-of-type {
        margin: 0.5rem 0;
      }
      & p:nth-child(5) {
        margin-left: 2rem;
      }
      & button {
        margin-right: 100px;
        margin-left: 0;
      }
      @include respond(tab-port) {
        grid-template-columns:repeat(7,100px);
      } 
    }
  }


  .titles {
    display: grid;
    grid-template-columns: repeat(6, 120px);
    height: 5vh;
    // justify-content: flex-start;
    text-align: start;
    & p:nth-child(5) {
      margin-left: 30px;
    }
    & p:nth-child(6) {
      margin-left: 30px;
    }
    
  }
 

  .inputs {
    display: grid;
    grid-template-columns: repeat(7, 120px);
    justify-items: start;
    align-items: center;
    text-align: start;
    @include respond(tab-port) {
      grid-template-columns:400px;
      gap:20px;
    } 
    & input,
    & button {
      height: 20px;
    }
    & input {
      width: 80%;
    }
  
    & input:nth-of-type(3) {
      width: 90px;
      @include respond(tab-port) {
        width:80%;
      } 
    }
  }