// @import './mixin';
.generalData {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  & input,
  & label {
    margin: 1rem 0;
  }
}
form {
  width: 100%;
  padding: 0 2rem;
  background-color: rgb(230, 230, 236);
  & h2,
  & h3 {
    text-align: left;
    color: rgb(72, 93, 107);
  }
  & input {
    background-color: ghostwhite;
    border: none;
    border-radius: 3px;
    outline: none;
  }
}

.invLine {
  display: flex;

  flex-direction: column;
}
.titles {
  display: grid;
  grid-template-columns: repeat(6, 120px);
  height: 5vh;
  // justify-content: flex-start;
  text-align: start;
  & p:nth-child(5) {
    margin-left: 30px;
  }
  & p:nth-child(6) {
    margin-left: 30px;
  }
}
.allNet {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
  border-top: 1px solid black;

  & p {
    white-space: nowrap;
  }
}
.sum {
  align-items: center;
  margin-left: 5rem;
}

.submitBtn {
  background-color: royalblue;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: white;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
.addItemBtn {
  background-color: royalblue;
  color: white;
  border-radius: 50%;
  outline: none;
  border: none;
  font-size: 1.5rem;
  width: 30px;
  height: 30px;

  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.buttons {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 25%;
  bottom: 10%;
  & button:first-of-type {
    position: fixed;
    left: 27.5%;
    bottom: 20%;
  }
}
.inputs {
  display: grid;
  grid-template-columns: repeat(7, 120px);
  justify-items: start;
  align-items: center;
  text-align: start;
  & input,
  & button {
    height: 20px;
  }
  & input {
    width: 80%;
  }

  & input:nth-of-type(3) {
    width: 90px;
  }
}
.unitPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & input {
    width: 70px;
    margin-left: 30px;
  }
  & p {
    margin-left: 50px;
  }
}

.trashBtn {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease;
  margin-left: 11px;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.svgTrash {
  filter: invert(32%) sepia(43%) saturate(1352%) hue-rotate(180deg)
    brightness(119%) contrast(119%);
  padding: 0.5rem;
}

.sumPara {
  margin-left: 50px;
}

.productList {
  margin: 0;
  padding: 0;
  & li {
    display: grid;
    grid-template-columns: repeat(7, 120px);
    gap: 2px;
    & p:first-of-type {
      margin: 0.5rem 0;
    }
    & p:nth-child(5) {
      margin-left: 2rem;
    }
    & button {
      margin-right: 100px;
      margin-left: 0;
    }
  }
}
