.generalData {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  & input,
  & label {
    margin: 1rem 0;
  }
}

.allNet {
  display: flex;
  align-items: center;
  min-width: 100%;
  margin-top: 1rem;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & p {
    white-space: nowrap;
  }
}
.sum {
  align-items: center;
}
