.container {
  width: 250px;
  border-right: 1px solid black;
  min-height: 90vh;
  padding: 2rem;
  text-align: left;
  & h4 {
    border-bottom: 1px solid rgb(145, 145, 145);
    padding-bottom: 2rem;
    text-align: center;
  }
  & h5 {
    color: grey;
  }
  & button {
    height: 20px;
  }
  &__addBtn {
    width: 20px;
    border-radius: 50%;
    padding: 2px;
    border: none;
    background-color: rgb(25, 25, 196);
    color: white;
  }
  &__addBtn:hover {
    background-color: rgb(77, 77, 211);
    cursor: pointer;
  }
}
.allNet {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  border-top: 1px solid black;
  justify-content: space-between;

  & p {
    white-space: nowrap;
  }
}
.sum {
  align-items: center;
}
